ion-content {
  --background: #f4f4f4;
  color: #000;
}

.container {
  padding: 20px;
  text-align: center;
  color: black;
}

.imagem-filme {
  width: 250px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.descricao {
  margin-top: 20px;
  line-height: 1.6;
  text-align: justify;
  color: black;
}

h1, h2, h3, p {
  color: black;
}